<%- include("./partials/header")%>
<div id="main-container"class="user-select-none">
   <video playsinline autoplay muted loop id="my-vid">
      <source src="<%=vid%>" type="video/mp4">
      </video>
<div class="container">
<P class="intro shadow-lg border-light rounded">Current Weather conditon for <%=city%>, <%=country%></P>
<div class="flex ">
   <p class="side-temp shadow-sm rounded">maximum temperature <span><%=maxTemperature%>&deg;C</span></p>
   <div>
      <p id="main-temp" class="shadow-lg rounded"><%=temperature%>&deg;C</p>
      <p class="sub-d shadow-sm rounded">Feels like <%=feels%>&deg;C</p>
   </div>
  <p class="side-temp shadow-sm rounded">minimum temperature <span><%=minTemperature%>&deg;C</span></p>
</div>
<div class="second-grid shadow-lg rounded">
   <p class="description shadow-sm rounded"><%=description%></p>
   <img class="shadow-lg rounded" src="http://openweathermap.org/img/wn/<%=icon%>@2x.png">
   <p class="description shadow-sm rounded">Humidity <%=humidity%>%</p>
</div>
</div>
</div>
   <%- include("./partials/footer")%>


   
